.line{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
    /* margin-right: 60px; */
}

.line>span{
    display: inline-block;
    width: 60%;
    height: 10px;
    background: linear-gradient(to right, transparent, white);
    border-radius: 20px;
}

@media(max-width:450px){
    .line>span{
        color: #0D1218;
        height: 5px;
    }
    .line{
        gap: .4rem;
    }
    .rect{
        width: 2rem !important;
    }
    .circ{
        width: 1rem !important;
    }
    .tri{
        width: 1rem !important;
    }
}