

.navbar, .logo, .info{
    display: flex;
}
.navbar{
    padding: 1rem .5rem;
    gap: 1rem;
}

.logo{
    align-items: center;
    gap: 10px;
}

.icons{
    text-align: center;
    cursor: pointer;
}

.logoImg{
    width: 2rem;
    height: 2rem;
}
.logoName{
    font-size: .7rem;
}

.info{
    font-size: .7rem;
    gap: 1rem;
}
